<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    <link rel="shortcut icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h1>{{title}} page </h1>
        <p>This site was created by Ahad and it uses data from mapbox.com and weatherstack.com API</p>
    </div>
    {{>footer}}

</body>

</html>