<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h1>{{title}} page</h1>


        <form>
            <input type="text" placeholder="Enter Zip Code / Location.">
            <button>Search</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>
    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>